<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NYT Movie Review Search</title>
    <style>
        body {
            background-color: linen;
            text-align: center
        }

        h1 {
            color: maroon;
            margin-left: 40px;
            text-align: center
        }
        p {
            color: maroon;
            margin-left: 40px;
            text-align: center
        }
    </style>
</head>
<body>
    <h1>NYT's Movie Review Search</h1>
    <form action="" method="POST" name="sample">
        {{ form.csrs_token }}
        <p>
            Enter a keyword: {{ form.keyword }}
        </p>
        <p>
            Order search results by: {{ form.orderBy }}
        </p>
        <p>
            Would you like to see the NYT critics' picks?
            {{ form.critics_Picks }}
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
</body>
</html>